In [21]:
import pandas as pd

In [22]:
df2 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder2007.csv')
df2

                country         pop continent  lifeExp     gdpPercap
0           Afghanistan  31889923.0      Asia   43.828    974.580338
1               Albania   3600523.0    Europe   76.423   5937.029526
2               Algeria  33333216.0    Africa   72.301   6223.367465
3                Angola  12420476.0    Africa   42.731   4797.231267
4             Argentina  40301927.0  Americas   75.320  12779.379640
..                  ...         ...       ...      ...           ...
137             Vietnam  85262356.0      Asia   74.249   2441.576404
138  West Bank and Gaza   4018332.0      Asia   73.422   3025.349798
139         Yemen, Rep.  22211743.0      Asia   62.698   2280.769906
140              Zambia  11746035.0    Africa   42.384   1271.211593
141            Zimbabwe  12311143.0    Africa   43.487    469.709298

[142 rows x 5 columns]

In [23]:
a = df2.isna().sum()
a

country      0
pop          0
continent    0
lifeExp      0
gdpPercap    0
dtype: int64

In [24]:
for na in a:
    if na > 0:
        print(f"There are {na} NaNs in column: {a[a == na].index[0]}")

In [25]:
dataset_names = ['Country name dataset', ' Iris Dataset', 'Third Dataset']
datasets = ['df1','df2']
dataset_names

['Country name dataset', ' Iris Dataset', 'Third Dataset']

In [26]:
dataset_dict = dict(zip(dataset_names,datasets))
dataset_dict

{'Country name dataset': 'df1', ' Iris Dataset': 'df2'}

In [27]:
dataset_dict['Iris Dataset'].info()

KeyError: 'Iris Dataset'

In [ ]:
df2.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [32]:
df2.isna().sum()

country      0
pop          0
continent    0
lifeExp      0
gdpPercap    0
dtype: int64

In [33]:
from Datasets.datasets import dataset_dict

In [38]:
df = dataset_dict['Country_indicators']
df

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN
...,...,...,...,...
36955,Zimbabwe,"Industry, value added (% of GDP)",2007,33.074953
36956,Zimbabwe,"Inflation, GDP deflator (annual %)",2007,0.894887
36957,Zimbabwe,"Life expectancy at birth, total (years)",2007,44.177756
36958,Zimbabwe,Population density (people per sq. km of land ...,2007,34.374559
36959,Zimbabwe,"Services, etc., value added (% of GDP)",2007,45.327139

In [40]:
df.isna().sum()

Country Name          0
Indicator Name        0
Year                  0
Value             11144
dtype: int64

In [41]:
df_2 = df.dropna()
df_2.isna().sum()

Country Name      0
Indicator Name    0
Year              0
Value             0
dtype: int64

In [50]:
dataset_dict['new' + 'df'] = 'new_entry'
list(dataset_dict.keys())[0]

'Country_indicators'

In [57]:

name = 'Country_indicators'
df_nan = dataset_dict[str(name)].dropna()  
dataset_dict[str(name)+'_noNaNs']  = df_nan
name += '_noNaNs'  
updated_dict = dataset_dict

In [59]:
updated_dict.keys()

dict_keys(['Country_indicators', 'Iris_dataset', 'GDP_dataset', 'new', 'newdf', 'Country_indicators_noNaNs'])

In [60]:
dataset_dict.keys()

dict_keys(['Country_indicators', 'Iris_dataset', 'GDP_dataset', 'new', 'newdf', 'Country_indicators_noNaNs'])

In [61]:
updated_dict.pop('new')

'new_entry'

In [64]:
updated_dict.keys()

dict_keys(['Country_indicators', 'Iris_dataset', 'GDP_dataset', 'newdf', 'Country_indicators_noNaNs'])

In [65]:
dataset_dict.keys()

dict_keys(['Country_indicators', 'Iris_dataset', 'GDP_dataset', 'newdf', 'Country_indicators_noNaNs'])

In [69]:
type(dataset_dict) == list

False

In [75]:
import io
buffer = io.StringIO()
df_2.info(buf=buffer)
s = buffer.getvalue()

In [83]:
s.split('\n')[3:10]

[' #   Column          Non-Null Count  Dtype  ',
 '---  ------          --------------  -----  ',
 ' 0   Country Name    25816 non-null  object ',
 ' 1   Indicator Name  25816 non-null  object ',
 ' 2   Year            25816 non-null  int64  ',
 ' 3   Value           25816 non-null  float64',
 'dtypes: float64(1), int64(1), object(2)']

str