In [1]:
import pandas as pd

In [14]:
df2 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder2007.csv')
df2

                country         pop continent  lifeExp     gdpPercap
0           Afghanistan  31889923.0      Asia   43.828    974.580338
1               Albania   3600523.0    Europe   76.423   5937.029526
2               Algeria  33333216.0    Africa   72.301   6223.367465
3                Angola  12420476.0    Africa   42.731   4797.231267
4             Argentina  40301927.0  Americas   75.320  12779.379640
..                  ...         ...       ...      ...           ...
137             Vietnam  85262356.0      Asia   74.249   2441.576404
138  West Bank and Gaza   4018332.0      Asia   73.422   3025.349798
139         Yemen, Rep.  22211743.0      Asia   62.698   2280.769906
140              Zambia  11746035.0    Africa   42.384   1271.211593
141            Zimbabwe  12311143.0    Africa   43.487    469.709298

[142 rows x 5 columns]

In [15]:
a = df2.isna().sum()
a

country      0
pop          0
continent    0
lifeExp      0
gdpPercap    0
dtype: int64

In [4]:
for na in a:
    if na > 0:
        print(f"There are {na} NaNs in column: {a[a == na].index[0]}")

In [8]:
dataset_names = ['Country name dataset', ' Iris Dataset', 'Third Dataset']
datasets = ['df1','df2']
dataset_names

['Country name dataset', ' Iris Dataset', 'Third Dataset']

In [10]:
dataset_dict = dict(zip(dataset_names,datasets))
dataset_dict

{'Country name dataset': 'df1', ' Iris Dataset': 'df2'}

In [12]:
dataset_dict['Iris Dataset'].info()

KeyError: 'Iris Dataset'

In [13]:
df2.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB